<h4>Comment list:</h4>
<% @commentlist = @entry.comments.paginate(page: params[:page],per_page: 5) %>
<ul class="users">
<%= will_paginate @commentlist %>
  <% @commentlist.each do |comment_user| %>
    <li>
    <%= link_to gravatar_for(comment_user, size: 52), comment_user %>
      <h5><%= comment_user.user.name %>:</h5>
      <br>
      <%= comment_user.comment_content %>
    </li>
    <span class="timestamp">
    	Posted <%= time_ago_in_words(comment_user.created_at) %> ago.
  	</span>
  <% end %>
  <%= will_paginate @commentlist %>
</ul>